body {
    margin: 0;
    font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.Container {
    max-width: 100vw;
    max-height:100vh;
    display: flex;
}
.slider{
    height: 100vh;
    width:10vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-width: 0px;  
    background-color: #7356f0;
    color:white;
    display: flex;
    flex-direction: column;
    font-size: small;
    
}
h1 {
    color: #00151d;
    margin: 50px auto;
    font-size: 40px;
}
.menu1 {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding:10px;
}
h2 {
    color: rgb(22, 22, 22);
}
.Card-container {
    width:100vw;
    max-height:100vh;
    background-color: rgb(238, 238, 238);
    
}
.slider {
transition:width 0.1s ease;
}
.slider.collapsed {
    width:4vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-width: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;     
}
.icon {
    margin-left: 10px;
}


.card {
    margin-top:15px;
    margin-left:30px ;
}
.active {
    background: rgb(238, 238, 238);
    color:black;
}

.exp-card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:20px;
    align-items: center;
}

.month-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.month-card {
    background-color: #ffff;
    height:8vh;
    width:20vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: medium;
}
.Piechart-Container {
    width:38vw;
    height:18vw;
    border-radius:30px;
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.card-paper {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}
.Piechart-Container-1 {
    width:18vw;
    height:18vw;
    border-radius:30px;
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0, 0, 0.19);
}
.card-paper-1{
    margin-left: 52px;
}
.barchat-container {
    width:60vw;
}
.flex-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 30px;
}