body {
    margin: 0;
    font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.Container {
    max-width: 100vw;
    max-height:100vh;
    display: flex;
}
.slider{
    height: 100vh;
    width:10vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-width: 0px;  
    background-image: linear-gradient(to bottom , #0c218a,rgb(14, 66, 238));
    color:white;
    display: flex;
    flex-direction: column;
    font-size: small;
    
}
h1 {
    color: #00151d;
    margin: 50px auto;
    font-size: 40px;
}
.menu1 {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding:10px;
}
h2 {
    color: rgb(22, 22, 22);
}
.Card-container {
    width:100vw;
    max-height:100vh;
    background-color: #ffff;
    
}
.slider {
transition:width 0.1s ease;
}
.slider.collapsed {
    width:4vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-width: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;     
}
.icon {
    margin-left: 10px;
}


.card {
    margin-top:15px;
    margin-left:30px ;
}
.active {
    background-color: #ffff;
    color:black;
}

.exp-card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:20px;
    align-items: center;
   

}

.month-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px ;
}
.month-card {
    background-color: #ffff;
    height:8vh;
    width:20vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;  
    box-shadow: 0 4px 8px 0 rgba(226, 226, 226, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: medium;
}
.Piechart-Container {
    width:38vw;
    height:40vh;
    border-radius:20px;
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(226, 226, 226, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.Calander {
    width: 10vw;
    height:3.5vh;
    margin-right: 15px;
    padding:5px;
}
.card-paper {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}
.Piechart-Container-1 {
    width:18vw;
    height:40vh;
    border-radius:20px;
    background-color: #ffff;
    box-shadow: 0 4px 8px 0 rgba(207, 207, 207, 0.2), 0 6px 20px 0 rgba(0,0, 0, 0.19);
}
.card-paper-1{
    margin-left: 52px;
    text-align: center;
}

.flex-charts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around
}
.cot {
    width:65vw;
}
.body{
    margin: 0px;
    padding: 0px;
    
}
.bg-container {
    background-image: url("./Assets/login-bg.8a14dbde.jpg");
    height: 100vh;
    width:100%;
    
}
.card-container {
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20%;
}
.container_card {
    box-shadow: 10px 9px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(88, 9, 153);
    min-height: 60vh;
    min-width:60vw;
    background-image:url("./Assets/white.jpg");
    background-size:cover;
}

@media (max-width: 767px) {
    
    .container_card {
      width: 90vw;
    }
    .toggle-password-button {
        right: 20vw;
    }
  }
  
.toggle-password-button {
  position: absolute;
  border-width: 0px;
  background-color:transparent;
  color: black;
  font-size: 1.5vh;
  margin-top: 20px;
  right: 38vw;
 
}
.button-login {
    color:white;
    font-size:1vh;
    min-width: 4vw;
    min-height: 4vh;
    border-radius: 10px;
    border-width: 0px;
    margin: 8px;
    background-image: linear-gradient(to right, #2238ff 0%, #9733EE  51%, #DA22FF  100%);
    box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px;
    transition: 0.5s;
}

  .button-login:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
 

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.error {
    color: red;
    margin-left: 20px;
    font-weight: 500;
}
.logo-1 {
    width:15vw;
    min-height:3vh;
    margin: 20px;
    background-color: transparent;
}

::placeholder {
    font-weight: 400;
    color:rgb(147, 15, 223);
    font-size: 1.5vh;
    padding: 10px;
}
.input {
    
    min-width: 25vw;
    min-height:4vh;
    margin:5px;
    border-radius: 5px;
    margin-bottom:15px;
    border-width:1px;
    border-color:#7722ff;
    box-shadow: rgba(0, 0, 0, 0.35) 15px 15px 15px;
    background-color: transparent;

}
.expense-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}