body {
    margin: 0;
    font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.Container {
    max-width: 100vw;
    max-height:100vh;
    display: flex;
}
.slider{
 
    height: 100vh;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    border-width: 0px;
   
   
}
h1 {
    color: #00151d;
    margin: 50px auto;
    font-size: 40px;
}
.menu1 {
    margin-bottom: 40px;
    margin-top: 20px;
}
h2 {
    color: rgb(22, 22, 22);
}
.Card-container {
    width:100vw;
    max-height:100vh;
    background-color: rgb(248, 255, 255);
}
.Slider-container {
transition:width 0.3s ease;



}
.Slider-container.collapsed {
    width:5vw;
}


.Piechart-Container{
    width: 70vw;
    height: 30vh;
    
}

.Typography-container {
    background-color: #fffefe;
   border-radius: 20px;
   box-shadow: 1px 3px 3px 3px rgb(197, 197, 197);
   margin: 20px;
   min-height: 6vh;

}

.card {
    padding:30px
}